/* =============
    Hero
============= */
#hero {
    margin-top: 110px;
    display: grid;
    grid-template-columns: 36% auto;

    section{

        h1 {
            font-size: rem-calc(50);
            color: var(--blue)
        }

        #hero-title-container-bottom {
            display: flex;
        }

        p {
            margin-top: 20px;
            color: var(--gray);
        }

        #hero-buttons {
            margin-top: 20px;
            display: flex;
            li{
                font-size: rem-calc(14);
                margin-right: 30px;
            }
        }

        #hero-card {
            background-color: var(--white);
            border-radius: 14px;
            padding: 22px;
            margin-top: 70px;

            #card-status{
                display: flex;
                justify-content: flex-end;

                h4{
                    margin-left: 10px;
                }

                #card-stars{
                    margin-left: auto;
                }
            }

            p {
                font-size: rem-calc(14);
                margin-top: 10px;
            }
        }
    }

    aside {
        img{
            width: 100%;
            margin-top: -90px;
            margin-left: 50px;
        }
    }
}