
/* =============
    How
============= */
#how{

    div{
        h1{
            color: var(--blue);
        }
    }

    p{
        color: var(--gray);
    }

    ul{
        li{
            // !!!! This is just for visuals for Week 4 !!!!!!
            display: inline-block;

            padding: 30px;
            border-radius: 14px;
            border: 1px solid var(--gray);

            img{
                margin-bottom: 50px;
            }

            h2{
                color: var(--blue);
                margin-bottom: 10px;
            }
        }
    }
}


