/* =============
    Newsletter
============= */
#newsletter{
    background-color: var(--light-blue);

    h1{
        color: var(--blue);
        margin-bottom: 20px;
    }

    p{
        color: var(--gray);
        margin-bottom: 12px;
    }

    form{
        padding: 9px;
        background-color: var(--white);
        // just for Week 4 demo
        display: inline-block;
        border-radius: 6px;

        input{
            border: none;
        }
    }
}