/* =============
    Buttons
============= */
button{
    border: none;
}

.blue-btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 20px 28px;
    border-radius: 6px;
}

.play-btn{
    background-color: var(--white);
    border-radius: 100%;
    height: 60px;
    width: 60px;
}