/* =============
    Buttons
============= */
button{
    border: none;
}

.blue-btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 20px 28px;
    border-radius: 6px;
    transition: 0.25s;
    cursor: pointer;
}

.blue-btn:hover{
    background-color: var(--green);
    color: var(--blue);
}
