/* =============
    Buttons
============= */
button{
    border: none;
    cursor: pointer;
}

.blue-btn{
    background-color: var(--blue);
    color: var(--white) !important;
    padding: 20px 28px;
    border-radius: 6px;
    transition: 0.25s;
}

.blue-btn:hover{
    background-color: var(--green);
    color: var(--blue);
}

.play-btn{
    background-color: var(--white);
    border-radius: 100%;
    height: 60px;
    width: 60px;
    color: var(--green);
    font-size: rem-calc(20);
    transition: 0.25s;
}

.play-btn:hover{
    background-color: var(--green);
    color: var(--white);
}