/* =============
    Navigation
============= */

a{
    text-decoration: none;
}

nav{
    // hide the nav on page load
    display: none;
    margin-top: 12px;
    padding-top: 20px;
    border-top: 1px solid var(--gray);

    @include xl{
        border: none;
        margin-top: 0;
        padding-top: 0;
        display: block;
    }

    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include xl{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
        }


        li{
            @include xl{
                height: 100%;
            }


            a:link, a:visited{
                padding: 10px;
                // border: 1px solid red;
                display: inline-block;
                margin-bottom: 12px;
                color: var(--black);
                transition: 0.25s;

                @include xl{
                    height: 100%;
                    box-sizing: border-box;
                    margin-bottom: 0px;
                    padding: 12px;
                    padding-bottom: 0;
                }
            }

            a:hover, a:active{
                color: var(--gray);
            }

            .loginSign-btn{
                background-color: var(--black);
                color: var(--white);
                border-radius: 8px;
                padding: 12px;
                font-weight: 600;
                border: none;
                transition: 0.25s;
                cursor: pointer;
            }

            .loginSign-btn:hover{
                background-color: var(--gray);
                
            }
        }
    }
}