/* =============
    Base
============= */
body{
    main{
        display: grid;
        grid-template-columns: auto 1170px auto;
        grid-template-areas: ". main-content .";
        #main-grid-item{
            grid-area: main-content;
        }
    }
}

#validation-btn{
    margin-top: 50px;
    text-align: center;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
