/* =============
    Typography
============= */

// font-family: 'PT Serif', serif;
// font-family: 'Open Sans', sans-serif;

body{
    font-family: 'Open Sans', sans-serif;
}


h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

p{
    padding: 0;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}